.back_toLogin_ui {
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    color: rgb(255, 255, 255);
    font-weight: 500;
    backdrop-filter: blur(1px);
    border: 1px solid #73533E; /* Optional: border to give it an outline */
}

.back_toLogin_ui:hover {
    background-color: #EAC283; /* Background color on hover */
    color: #EFDABA; /* Text color on hover */
}

.back_toLogin_ui svg {
    font-size: 1.2rem;
}
