.ui_spinner {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f59e0b;     /* amber-500 */
  border-right-color: #f59e0b;
  animation: loading 0.75s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
